$info: rgb(17, 153, 153);

.btn-primary {
  color: $light;
  background-color: $primary;
  border-color: darken($color: $primary, $amount: 10);
  border-width: medium;
}
.btn-primary:hover {
  color: $light;
  background-color: darken($color: $primary, $amount: 10);
  border-color: lighten($color: $primary, $amount: 10);
  border-width: medium;
}
.btn-dark {
  color: $light;
  border-color: lighten($color: $dark, $amount: 30);
  background-color: $dark;
}
.btn-dark:hover {
  color: $dark;
  background-color: lighten($color: $dark, $amount: 20);
  border-color: lighten($color: $primary, $amount: 40);
}
.btn-success {
  color: $light;
  border-color: darken($color: $success, $amount: 20);
  background-color: $success;
}
.btn-success:hover {
  color: $dark;
  background-color: lighten($color: $success, $amount: 10);
  border-color: lighten($color: $primary, $amount: 40);
}
.btn-danger {
  color: $light;
  border-color: darken($color: $danger, $amount: 20);
  background-color: $danger;
}
.btn-danger:hover {
  color: $dark;
  background-color: lighten($color: $danger, $amount: 10);
  border-color: lighten($color: $primary, $amount: 40);
}
