$body-bg: #f8f9fa;

$primary: #2e9a8c;
$secondary: #8e8e8e;
$danger: #db3a34;
$success: #32d660;
$warning: #ffc857;
$info: #5bc0be;
$light: #f8f9fa;
$dark: #0b132b;

$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: rgb(172, 172, 172);
$gray: gray;
$gray-dark: darkslategray;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "gray-dark": $gray-dark,
) !default;
